/*
 * author: lixinjie
 * date: 20170501
 * 修改样式时，请修改对应less
 * */
@charset "utf-8";
/* 让 IE 浏览器对不识别的 html5 元素将其当做块元素处理*/
details,
main,
summary {
  display: block;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
  margin: 0;
}
input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
ol,
menu,
th,
td {
  padding: 0;
}
hr,
progress,
input,
textarea,
button,
select,
fieldset {
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*===引入normalize.css的样式===*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.page-width {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
body {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  color: #333333;
  background-color: #fff;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
/* ===链接=== */
a {
  color: #333333;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  outline-width: 0;
}
/* ===文本=== */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
article h1,
section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
.sub-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
/* ===嵌入式内容=== */
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
/* ===分组内容=== */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
/* ===表单=== */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button:focus,
html [type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/* ===表格=== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
/* ===列表=== */
ol,
ul {
  list-style-type: none;
}
/* ===关于浮动=== */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
figure {
  overflow: hidden;
}
figure a {
  display: block;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
label {
  cursor: pointer;
}
label:hover {
  opacity: .8;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .4s ease .1s;
}
.center-content {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.middle-img {
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*===矢量图标字体===*/
@font-face {
  font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1493607651326');
  src: url('../iconfont/iconfont.eot?t=1493607651326#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff?t=1493607651326') format('woff'), /* chrome, firefox */ url('../iconfont/iconfont.ttf?t=1493607651326') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg?t=1493607651326#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before {
  content: "\e603";
}
.icon-shoucang:before {
  content: "\e604";
}
.icon-phone:before {
  content: "\e615";
}
.icon-scan:before {
  content: "\e65b";
}
.icon-stick:before {
  content: "\e68e";
}
.icon-crm:before {
  content: "\e65c";
}
.icon-introduction:before {
  content: "\e65d";
}
.icon-message:before {
  content: "\e65e";
}
.icon-quota:before {
  content: "\e65f";
}
.icon-kehu:before {
  content: "\e660";
}
.icon-qiye:before {
  content: "\e661";
}
.icon-quanxian:before {
  content: "\e663";
}
.icon-resource:before {
  content: "\e664";
}
.icon-exam:before {
  content: "\e665";
}
.icon-info:before {
  content: "\e666";
}
.icon-xiaoshou:before {
  content: "\e667";
}
.icon-sampling:before {
  content: "\e668";
}
.icon-online:before {
  content: "\e669";
}
.icon-reprot:before {
  content: "\e66a";
}
.icon-anquan:before {
  content: "\e66b";
}
.icon-banben:before {
  content: "\e66c";
}
.icon-shezhi:before {
  content: "\e680";
}
.icon-area:before {
  content: "\e687";
}
.icon-im:before {
  content: "\e68a";
}
.icon-vote:before {
  content: "\e68b";
}
/*===首页===*/
/*头部*/
#header {
  z-index: 999;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 80px;
  background-color: #fff;
  border-bottom: 2px solid #bab8bb;
}
#header #logo {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: 385px;
  height: 80px;
}
#header #logo img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#header #slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 396px;
  height: 64px;
}
#header #signinSignup {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  height: 45px;
  font-size: 0;
}
#header #signinSignup a {
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 41px;
  text-align: center;
  color: #666;
  font-size: 18px;
  border: 2px solid #ededed;
  transition: all .4s ease .1s;
}
#header #signinSignup a:first-of-type {
  margin-right: 25px;
}
#header #signinSignup a:hover {
  border: 2px solid #14c2b0;
  color: #fff;
  background-color: #14c2b0;
}
#header #nav {
  display: none;
  position: absolute;
  height: 50px;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);
}
#header #nav ul:before {
  content: "";
  display: table;
}
#header #nav ul:after {
  content: "";
  display: table;
  clear: both;
}
#header #nav ul li {
  float: left;
}
#header #nav ul li a {
  display: block;
  height: 50px;
  line-height: 46px;
  padding-right: 42px;
  padding-left: 42px;
  color: #666;
  font-size: 18px;
  border: 2px solid #ededed;
  margin-right: 10px;
  transition: all .4s ease .1s;
}
#header #nav ul li a:hover,
#header #nav ul li a.active {
  border: 2px solid #14c2b0;
  color: #fff;
  background-color: #14c2b0;
}
#header #nav ul li:last-of-type a {
  margin-right: 0;
}
/*主要内容*/
#main {
  padding-top: 80px;
}
.banner {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 969px;
  height: 382px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 382px;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 58px;
  height: 116px;
  background-repeat: no-repeat;
}
.carousel-control.left {
  left: -58px;
  background-image: url(../images/left.png);
}
.carousel-control.right {
  right: -58px;
  background: url(../images/right.png);
}
.carousel-control:hover,
.carousel-control:focus {
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: -70px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #babdbf;
  border-radius: 50%;
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #12c2b0;
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
/*中心概况*/
.general-profile {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}
.general-profile h2 {
  width: 1200px;
  height: 110px;
  background: url(../images/divider-line-left.png) 313px 98px no-repeat, url(../images/divider-line-right.png) 600px 98px no-repeat;
  text-align: center;
}
.general-profile h2 span {
  display: block;
}
.general-profile h2 span.cn {
  font-size: 30px;
  color: #494949;
}
.general-profile h2 span.en {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
}
.general-profile ul {
  margin-top: 25px;
}
.general-profile ul:before {
  content: "";
  display: table;
}
.general-profile ul:after {
  content: "";
  display: table;
  clear: both;
}
.general-profile ul li {
  float: left;
  width: 33.33333333%;
  padding: 100px 30px 0;
  border: 1px solid #e2e2e2;
  background-repeat: no-repeat;
  background-position: center 20px;
  transition: all .4s ease .1s;
}
.general-profile ul li.about {
  background-image: url(../images/introduction-icon.png);
}
.general-profile ul li.events {
  background-image: url(../images/summary-icon.png);
}
.general-profile ul li.projects {
  background-image: url(../images/assessment-icon.png);
}
.general-profile ul li h3 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 15px;
}
.general-profile ul li h3 span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.general-profile ul li h3 span.cn {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #dbdbdb;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
.general-profile ul li h3 span.en {
  display: block;
  font-size: 16px;
  color: #14c2b0;
  line-height: 1.6;
}
.general-profile ul li p {
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: .1em;
  height: 100px;
  overflow: hidden;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 5px;
}
.general-profile ul li:hover {
  border-color: #8fcc34;
  box-shadow: 0 0 15px #8fcc34;
}
.general-profile ul li:hover p {
  border-bottom-color: #d8eeea;
}
.general-profile ul li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: -30px;
  margin-left: -30px;
  text-align: center;
  transition: all .4s ease .1s;
}
.general-profile ul li a span {
  text-align: center;
  transition: all .4s ease .1s;
}
.general-profile ul li a span.cn {
  display: inline-block;
  position: relative;
  color: #14c2b0;
  font-size: 14px;
  margin-left: -20px;
}
.general-profile ul li a span.cn:after {
  content: ">";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}
.general-profile ul li a span.en {
  display: block;
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
}
.general-profile ul li a:hover {
  background-color: #8fcc34;
}
.general-profile ul li a:hover span {
  color: #333333;
}
/*新闻中心*/
.news-center {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}
.news-center .h2-bg {
  width: 100%;
  height: 145px;
  background-color: #2bb174;
  padding-top: 20px;
  padding-bottom: 20px;
}
.news-center h2 {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 105px;
  text-align: center;
  background: url(../images/divider-line-left.png) left 70px no-repeat, url(../images/divider-line-right.png) right 70px no-repeat;
}
.news-center h2 span {
  display: block;
  color: #fff;
}
.news-center h2 span.cn {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.6;
}
.news-center h2 span.en {
  font-size: 32px;
  text-transform: uppercase;
}
.news-center .news-classify {
  margin-top: 30px;
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #dadbdd;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
}
.news-center .news-classify:before {
  content: "";
  display: table;
}
.news-center .news-classify:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify h3 {
  float: left;
  width: 170px;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 110px 20px 0 10px;
}
.news-center .news-classify h3 span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-center .news-classify h3 span.en {
  font-size: 16px;
  line-height: 1.3;
  color: #666;
}
.news-center .news-classify h3 span.en:first-letter {
  font-size: 20px;
  text-transform: uppercase;
}
.news-center .news-classify h3 span.cn {
  font-size: 24px;
  line-height: 1.3;
  color: #333333;
}
.news-center .news-classify ul {
  float: left;
  width: 800px;
}
.news-center .news-classify ul:before {
  content: "";
  display: table;
}
.news-center .news-classify ul:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify ul li {
  width: 355px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  margin-right: 90px;
  margin-bottom: 20px;
  height: 50px;
}
.news-center .news-classify ul li:before {
  content: "";
  display: table;
}
.news-center .news-classify ul li:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify ul li time {
  display: block;
  float: left;
  width: 85px;
  height: 50px;
}
.news-center .news-classify ul li time span {
  display: inline-block;
}
.news-center .news-classify ul li time span.day {
  color: #14c2b0;
  font-size: 32px;
}
.news-center .news-classify ul li time span.month {
  color: #ccc;
  font-size: 22px;
  position: relative;
  left: 5px;
  top: 15px;
}
.news-center .news-classify ul li time span.month:after {
  content: "/";
  position: absolute;
  bottom: 3px;
  left: -10px;
  font-size: 30px;
}
.news-center .news-classify ul li .chief {
  float: left;
  width: 270px;
}
.news-center .news-classify ul li .chief > div {
  height: 30px;
  line-height: 30px;
}
.news-center .news-classify ul li .chief > div:before {
  content: "";
  display: table;
}
.news-center .news-classify ul li .chief > div:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify ul li .chief > div > i {
  color: #ffba00;
  float: left;
  font-size: 20px;
}
.news-center .news-classify ul li .chief > div > span {
  display: inline-block;
  color: #ffba00;
  text-align: right;
  float: right;
}
.news-center .news-classify ul li .chief h4 {
  width: 100%;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
}
.news-center .news-classify ul li .chief h4 a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .4s ease .1s;
}
.news-center .news-classify ul li .chief h4 a:hover {
  color: #ffba00;
}
.news-center .news-classify ul li:nth-of-type(2n+2) {
  margin-right: 0;
}
.news-center .news-classify > a {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: block;
  padding: 8px 22px;
  background-color: #00bb8a;
  transition: background-color 0.3s linear 0s;
  color: #fff;
  text-transform: uppercase;
}
.news-center .news-classify > a:hover {
  background-color: #06b4a2;
}
.news-center .quality-assessment h3 {
  background-image: url(../images/quality-icon.png);
}
.news-center .news h3 {
  background-image: url(../images/news-icon.png);
}
.news-center .education-evalution h3 {
  background-image: url(../images/evalution-icon.png);
}
/*服务*/
.service {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}
.service h2 {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  text-align: center;
  background: url(../images/divider-line-left.png) left 65px no-repeat, url(../images/divider-line-right.png) right 65px no-repeat;
}
.service h2 span {
  display: block;
}
.service h2 span.cn {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.6;
  color: #494949;
}
.service h2 span.en {
  font-size: 26px;
  text-transform: uppercase;
  color: #5c5c5c;
}
.service ul {
  margin-top: 120px;
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.service ul:before {
  content: "";
  display: table;
}
.service ul:after {
  content: "";
  display: table;
  clear: both;
}
.service ul li {
  float: left;
  width: 25%;
  height: 210px;
}
.service ul li a {
  z-index: 11;
  display: block;
  position: relative;
  border: 1px solid #e2e2e2;
  width: 100%;
  height: 210px;
  text-align: center;
  overflow: hidden;
  transition: all .4s ease .1s;
}
.service ul li a .hasicon {
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  padding-top: 30px;
  transition: all .4s ease .1s;
}
.service ul li a .hasicon i {
  display: inline-block;
  font-size: 50px;
  color: #3cc1d8;
  padding: 10px 15px 0;
  border-bottom: 1px solid #999;
}
.service ul li a .hasicon h4 {
  margin-top: 15px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.service ul li a .hasicon h4 span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.service ul li a .hasicon h4 span.cn {
  font-size: 16px;
  color: #544a4a;
  margin-bottom: 5px;
}
.service ul li a .hasicon h4 span.en {
  font-size: 14px;
  color: #a2a2a2;
  text-transform: uppercase;
}
.service ul li a .noicon {
  opacity: 0;
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  line-height: 1.5;
  transition: all .5s linear 0s;
  background-color: #fff;
  overflow: hidden;
}
.service ul li a .noicon .content {
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.service ul li a .noicon h4 {
  font-size: 16px;
  color: #544a4a;
  margin-bottom: 15px;
}
.service ul li a .noicon p {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}
.service ul li a:hover {
  border-color: #65a639;
}
.service ul li a:hover .hasicon {
  opacity: 0;
}
.service ul li a:hover .noicon {
  opacity: 1;
}
/*决策依据，监测评估*/
.slogan2 {
  margin-top: 60px;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 152px;
  background: url(../images/slogan2-bg.png) repeat-x;
}
.slogan2 img {
  display: block;
  width: 1440px;
  height: 152px;
}
/*底部*/
#footer .supplement {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 60px;
}
#footer .supplement:before {
  content: "";
  display: table;
}
#footer .supplement:after {
  content: "";
  display: table;
  clear: both;
}
#footer .supplement .left {
  float: left;
  max-width: 440px;
  padding-right: 40px;
}
#footer .supplement .left .link {
  margin-bottom: 30px;
}
#footer .supplement .left .link:before {
  content: "";
  display: table;
}
#footer .supplement .left .link:after {
  content: "";
  display: table;
  clear: both;
}
#footer .supplement .left .link > div {
  float: left;
  position: relative;
  padding-right: 90px;
}
#footer .supplement .left .link > div:last-of-type {
  padding-right: 50px;
}
#footer .supplement .left .link > div:last-of-type:after {
  top: 0;
  right: 1px;
}
#footer .supplement .left .link > div:after {
  content: "";
  position: absolute;
  top: 0;
  right: 49px;
  width: 1px;
  height: 60px;
  background-color: #ccc;
}
#footer .supplement .left .link > div h4 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
}
#footer .supplement .left .link > div a {
  display: block;
  font-size: 12px;
  color: #666;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all .4s ease .1s;
}
#footer .supplement .left .link > div a:hover {
  color: #14c2b0;
}
#footer .supplement .left p {
  font-size: 12px;
  color: #bca595;
  line-height: 1.5;
  margin-bottom: 10px;
}
#footer .supplement .left .logo2 {
  width: 356px;
  height: 61px;
  margin-top: 30px;
}
#footer .supplement .center {
  float: left;
}
#footer .supplement .center h4 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
}
#footer .supplement .center a {
  display: block;
  font-size: 12px;
  color: #666;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all .4s ease .1s;
}
#footer .supplement .center a:hover {
  color: #14c2b0;
}
#footer .supplement .right {
  float: right;
}
#footer .supplement .right .tel {
  font-size: 0;
  color: #333333;
  margin-bottom: 15px;
}
#footer .supplement .right .tel i {
  font-size: 60px;
  display: inline-block;
  border-right: 1px solid #b6b6b6;
  padding-right: 10px;
  margin-right: 15px;
  color: #656565;
}
#footer .supplement .right .tel span {
  display: inline-block;
  line-height: 1.5;
  font-size: 20px;
}
#footer .supplement .right .tel span strong {
  font-size: 18px;
  color: #975217;
}
#footer .supplement .right p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}
#footer .supplement .right p a {
  color: #666;
}
#footer .supplement .right .count-code {
  margin-top: 20px;
}
#footer .supplement .right .count-code > div,
#footer .supplement .right .count-code > figure {
  float: left;
  width: 170px;
  height: 170px;
  border: 1px solid #ccc;
  text-align: center;
}
#footer .supplement .right .count-code .count {
  background: transparent url(../images/count.jpg) no-repeat center 30px;
  padding-top: 130px;
  font-size: 18px;
  color: #333333;
  letter-spacing: 5px;
  padding-left: 5px;
  font-weight: bold;
}
#footer .supplement .right .count-code figure {
  position: relative;
}
#footer .supplement .right .count-code figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer .copyright-bg {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2fa696;
}
#footer .copyright-bg .copyright {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer .copyright-bg .copyright small {
  display: inline-block;
  vertical-align: middle;
  color: #b2dfe5;
}
#footer .copyright-bg .copyright img {
  display: inline-block;
  vertical-align: middle;
}
#footer .other {
  position: fixed;
  top: 400px;
  right: 25px;
}
#footer .other .weixin {
  margin-bottom: 15px;
  position: relative;
}
#footer .other .weixin i {
  display: block;
  background-color: #499e4e;
  color: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 56px;
  border-radius: 50%;
}
#footer .other .weixin .weixin-code {
  display: none;
  position: absolute;
  top: 0;
  right: 80px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #999;
  padding: 5px;
  text-align: center;
}
#footer .other .weixin .weixin-code span {
  display: block;
  font-size: 14px;
  line-height: 1.8;
}
#footer .other .collect {
  position: relative;
}
#footer .other .collect i {
  display: block;
  background-color: #499e4e;
  color: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 46px;
  border-radius: 50%;
}
