/*
 * author: lixinjie
 * date: 20170504
 * 修改样式时，请修改对应less
 * */
@charset "utf-8";

/* 让 IE 浏览器对不识别的 html5 元素将其当做块元素处理*/
details, main, summary { display: block; }

//设置所有浏览器中外边距不为零的元素的外边距为零
body, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre, textarea, fieldset, figure, ul, ol, dl, dd, menu { margin: 0; }

//设置所有浏览器中内填充不为零的元素的内填充为零
input, textarea, button, select, option, fieldset, legend, ul, ol, menu, th, td { padding: 0; }

//设置所有浏览器中边框不为零的元素的边框为零
hr, progress, input, textarea, button, select, fieldset { border: 0; }

//设置所有元素的盒模型，将内填充和边距算在宽或高之列 
* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

/*===引入normalize.css的样式===*/
//在 IE浏览器 和 iOS 设备的浏览器中阻止调整字体的尺寸 
html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

//为 body 元素设置字体尺寸和类型
@text-color: #333;
@main-color: #14c2b0;
@fs: 16px;
.page-width {    
    width: 100%;
    max-width: 544px;
    margin-right: auto;
    margin-left: auto;
}
body {
    .page-width;
    font-size: @fs;
    color: @text-color;
    background-color: #fff;
    font-family: "Microsoft Yahei", Arial, sans-serif;
}

//在 IE 9 及低版本浏览器中为下列元素设置为 inline-block 的显示方式 
audio,
canvas,
progress,
video {
    display: inline-block;
}

//在 iOS 4-7 中为无 controls属性的 audio 元素添加正确的显示方式
audio:not([controls]) {
    display: none;
    height: 0;
}

//在 Chrome, Firefox 和 Opera 中设置垂直方向基线对齐方式 
progress { vertical-align: baseline; }

//在 IE 中添加正确的显示方式
template,
[hidden] { display: none; }

/* ===链接=== */
//在 IE 10 中移除链接被激活后的灰色背景
//在 iOS 8+ 和 Safari 8+ 中删除链接下划线位置处的空白
a {
    color: @text-color;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    &:focus,
    &:active,
    &:hover {
        //当链接处于焦点、被激活和鼠标悬停其上时清除轮廓
        outline-width: 0;
        text-decoration: none;
    }
}


/* ===文本=== */
//在 Firefox 39 及之前的版本中移除 abbr 元素的下边框
//在 Chrome, Edge, IE, Opera 和 Safari 中为 abbr 元素添加下划线
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

//在 Safari 6 中防止下列元素通过后面的规则重复的应用程序的字体为粗体
b,
strong {
    font-weight: inherit;
}

//在 Chrome, Edge 和 Safari 浏览器中为下列元素添加正确的字体粗细 
b,
strong { font-weight: bolder; }

//在 Android 4.3 及之前系统的设备中的浏览器为下列元素添加字体风格为斜体
dfn {
    font-style: italic;
}

//在 Chrome, Firefox 和 Safari 浏览器中纠正在含有 section 和 article 语境下的 h1 元素的字体尺寸和外边距
article h1,
section h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

//在 IE 9 及之前的浏览器版本中为 mark 元素添加背景颜色和字体颜色 
mark {
    background-color: #ff0;
    color: #000;
}

//为 small 元素设置字体尺寸为离其最近的含有 font-size 属性的祖先元素的值的 80%
small {
    font-size: 80%;
}

//防止 sub 和 sup 元素影响行高 
.sub-sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    .sub-sup;
    bottom: -0.25em;
}
sup {
    .sub-sup;
    top: -0.5em;
}

/* ===嵌入式内容=== */
//在 IE 10 及更早的浏览器中当图片处于链接内部时移除图片的边框
img {
    border-style: none;
}

//在 IE 浏览器中当 svg 元素不是根元素时隐藏溢出
svg:not(:root) {
    overflow: hidden;
}

/* ===分组内容=== */
//纠正字体尺寸的继承和缩放(momospace字体是linux系统下的默认字体)
//在所有浏览器中纠正奇数的以 em 作为单位的字体尺寸
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: @fs;
}

//在 Firefox 浏览器下为 hr 元素添加正确的和模型尺寸计算方式
//在 Edge 和 IE 中 hr 元素溢出时不隐藏
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* ===表单=== */
//改变字体属性为继承
//在 Firefox 和 Safari 中为下列元素移除外边距
button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}
//通过之前的规则修复 optgroup 元素的字体粗细
optgroup {
    font-weight: bold;
}

//溢出时不隐藏 
button,
input {
    overflow: visible;
}

//移除文本大小写的继承
button,
select {
    text-transform: none;
}

//在 Android 4 系统版本中阻止破坏本地的音频视频控件的错误
//在 iOS 和 Safari 中纠正不能点击的类型
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    &:focus {
        outline: none;
    }
}
//在 Firefox 中移除内部边框和内填充(firefox浏览器中button元素点击时会出现虚线边框)
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

//由先前的规则恢复焦点样式设置
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

//设置 fieldset 元素的 border, margin 和 padding 属性的值 
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

//在 Edge 和 IE 中纠正文本包裹
//纠正在 IE 中从 fieldset 元素继承而来的颜色值
//在所有浏览器中当开发者清零了 fieldset 元素的属性时，移除 padding 属性的值，以便他们能找出其它错误
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

//在 IE 浏览器中移除默认的垂直导航条
textarea {
    overflow: auto;
}

//在 IE 10 及之前的浏览器中改变盒模型的默认规则，即将内填充和边框也算在宽高之内 
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

//纠正在 Chrome 浏览器中递增和递减按钮的光标样式
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

//纠正 Chrome 和 Safari 浏览器奇怪的外观（看上去像文本框）
//纠正在 Safari 浏览器中的轮廓样式（设置轮廓的偏移）
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

//在 OS X 的 Chrome 和 Safari 浏览器中删除内填充和移除按钮
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//纠正在 Chrome, Edge 和 Safari 中文本占位符属性的样式 
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

//纠正在 iOS 和 Safair 中可点击类型不能点击的样式
//更改字体属性，在 Safari 中以继承的方式。
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/* ===表格=== */
//设置表格的边框合并为单一的边框，
//border-collapse 属性会忽略 border-spacing(相邻单元格边框间的距离) 属性和 empty-cells(是否在空单元格周围绘制边框)
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th {
    text-align: left;
}

/* ===列表=== */
//设置列表的标记类型为无 
ol,
ul {
    list-style-type: none;
}

/* ===关于浮动=== */
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    &:before {
        content: "";
        display: table;        
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
figure {
    overflow: hidden;
    & a {
        display: block;
    }
    & img {        
        display: block;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}
label {
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.transition {
    transition: all .4s ease .1s;
}
.center-content {
    display: block;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
}
.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}
.middle-img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*===矢量图标字体===*/
@font-face {
    font-family: iconfont;
    src: url(../iconfont/iconfont.eot?t=1493906827016);
    src: url(../iconfont/iconfont.eot?t=1493906827016#iefix) format('embedded-opentype'),
         url(../iconfont/iconfont.woff?t=1493906827016) format('woff'),
         url(../iconfont/iconfont.ttf?t=1493906827016) format('truetype'), 
         url(../iconfont/iconfont.svg?t=1493906827016#iconfont) format('svg');
}
.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
    content: "\e600";
}
.icon-scan:before {
    content: "\e65b";
}
.icon-triangle-right-bottom:before {
    content: "\e624";
}
.icon-toTop:before {
    content: "\e636";
}
.icon-online:before {
    content:"\e669";
}

/*===首页===*/
/*头部*/
/*回到顶部*/
@size: 80px;
#toTop {
    display: none;
    z-index: 9999;
    position: fixed;
    right: 5px;
    bottom: 100px;
    i {
        display: block;
        font-size: 36px;
        color: #999;
    }
}
#header {
    @height: 60px;
    z-index: 200;
    position: relative;
    width: 100%;
    background-color: #fff;
    height: @height;
    border-bottom: 1px solid #dedede;
    padding-top: 3px;
    padding-bottom: 3px;
    #logo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 73%;
        height: @height - 6;
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            max-height: @height;
        }
    }
    #nav {
        z-index: 201;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .menu-wrap {
            height: @height;
            #menu {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 202;
                display: block;
                width: @height;
                height: @height;
                line-height: @height;
                text-align: center;
                background-color: transparent;
                i {        
                    font-size: @fs + 2;
                    color: #666;
                }
            }
        }
        #navList {
            display: none;
            z-index: 202;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            & li  {
                width: 100%;
                text-align: center;
                margin-top: 8px;
                &:first-of-type {
                    margin-top: 0;
                }
            }
            & a {
                display: inline-block;
                font-size: @fs - 2;
                padding: 6px 25px;
                border-bottom: 1px solid transparent;     
                &.active {
                    color: @main-color;
                    border-bottom-color: @main-color;            
                }   
            }
        }
    }
    & .icon-back {
        display: block;
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        width: @height;
        height: @height;
        line-height: @height;
        text-align: center;
        cursor: pointer;   
    }    
}
/*主要内容*/
#main {
}

/*重置banner样式*/
.carousel-indicators {
    bottom: -30px;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #babdbf;
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: #12c2b0;
    border-color: transparent;
}
/*中心概况*/
.general-profile {
    padding-top: 50px;
    padding-bottom: 30px;
    .clearfix;
    @width: 100%;
    width: @width;
    h3 {
        .fl;
        width: @width / 3;
        a {
            display: @width;
            display: block;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 80px 80px;
            padding: 95px 5px 0;
            span {
                text-align: center;
                display: block;
                .ellipsis;
            }
            .cn {
                color: @text-color;
                font-size: @fs - 2;
                margin-bottom: 5px;
            }
            .en {
                color: #666;
                font-size: @fs - 4;
                text-transform: uppercase;
            }
        }
        &.introducation {
            a {
                background-image: url(../images/introduction.png);
            }
        }
        &.summary {
            a {
                background-image: url(../images/summary.png);
            }
        }
        &.assessment {
            a {
                background-image: url(../images/assessment.png);
            }
        }
    }
}

/*新闻中心*/
.news-center {
    background-color: #f6f6f6;
    padding-bottom: 30px;
    .news-classify {
        .center-content;
        box-shadow: 3px 3px 5px #ccc, -3px 3px 5px #ccc;
        background-color: #fff;
        margin-top: 20px;
        padding: 15px 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        figure {
            width: 70px;
        }
        ul {
            flex: 1;
            padding-right: 5px;
            padding-left: 10px;
            li {
                position: relative;
                margin-bottom: 15px;
                min-height: 30px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                time {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: block;
                    transform: translateY(-50%);
                    width: 45px;
                    height: 30px;
                    //font-size: 0;
                    span {
                        display: inline-block;
                        height: 20px;
                        &.day {
                            color: @main-color;
                            font-size: @fs - 2;
                        }
                        &.month {
                            color: #ccc;
                            font-size: @fs - 4;
                            position: relative;
                            left: 0;
                            top: 10px;
                            &:after {
                                content: "/";
                                position: absolute;
                                bottom: 3px;
                                left: -6px;
                                font-size: @fs + 4;
                                font-weight: 100;
                            }
                        }
                    }
                }
                h4 {
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    min-height: 30px;
                    overflow: hidden;
                    a {
                        display: inline-block;
                        vertical-align: middle;
                        width: 100%;
                        padding-left: 50px;
                        min-height: 30px;
                        font-size: @fs - 4;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

/*服务*/
.service {
    ul {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-flow: wrap;
        li {
            width: 50%;
            margin-bottom: 20px;
            a {
                display: block;
                padding-right: 15px;
                padding-left: 15px;
                text-align: center;
                i {
                    display: inline-block;
                    border: 2px solid #e1e1e1;
                    border-radius: 50%;
                    font-size: @fs + 24;
                    width: 70px;
                    height: 70px;
                    padding: 10px;
                    margin-bottom: 10px;
                    color: #3cc1d8;
                }
                h4 {
                    font-size: @fs - 2;
                    color: @text-color;
                    margin-bottom: 5px;
                    text-align: center;
                }
                p {
                    font-size: @fs - 4;
                    color: #666;
                    text-align: center;
                    line-height: 20px;
                    height: 40px;
                    /*多行文本移除*/
                    display: -webkit-box !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
        }
    }
}


/*底部*/
footer {
    small {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 75px;
        font-style: @fs;
        background-color: #192c3b;
        color: #fff;
    }
    .slogan {
        z-index: 999;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 544px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: #fff;
        font-size: @fs - 2;
        color: #999;
        border-top: 1px solid #ccc;
        span {
            letter-spacing: 3px;
            padding-left: 3px;
            &:first-of-type {
                margin-right: 10px;
            }
            &:last-of-type {
                margin-left: 10px;
            }
        }
        strong {
            font-size: @fs;
            color: @text-color;
        }
    }
}

/*新闻列表页*/
.news-list-type {
    
}
.news-list {
    margin-bottom: 50px;
    li {
        a {
            width: 96%;
            margin: 35px auto 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .date {
                .fl;
                position: relative;
                width: 90px;
                height: 90px;
                background: transparent url(../images/news-date-bg.png) no-repeat left top;
                > strong {
                    font-weight: normal;
                }
                .day {
                    font-size: @fs;
                    position: absolute;
                    top: 24px;
                    left: 26px;
                    color: #fff;
                }
                .year {
                    font-size: @fs - 6;
                    position: absolute;
                    top: 22px;
                    right: 8px;
                    color: #fff;
                }
                .month {
                    font-size: @fs - 5;
                    position: absolute;
                    top: 34px;
                    right: 5px;
                    color: #333;
                }
            }
            .text {
                flex: 1;
                height: 90px;
                border-bottom: 1px solid #e5e5e5;
                position: relative;
                padding-left: 15px;
                padding-top: 5px;
                h2 {
                    font-size: @fs;
                    color: #333;
                    line-height: 20px;
                    height: 40px;
                    /*多行文本移除*/
                    display: -webkit-box !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                span {
                    display: block;
                    margin-top: 10px;
                }
                > i {
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    font-size: @fs - 2;
                    color: #6eb800;
                }
            }
        }
    }
}
#noSloganFooter {
    small {
        padding-bottom: 15px;        
    }
}
